@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

body .container {
    width: 940px;
    height: 366px;
    margin: 30px auto;
    background: #FBDFDB;
    border-radius: 30px;
}

body #img-container img {
    position: relative;
    margin-left: 624px;
    margin-top: 67px;
}

header {
    width: 940px;
    margin: 36px auto 30px;
}

#more-access h1 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 24px;
    width: 940px;
}

.container h1 {
    position: absolute;
    font-family: 'Roboto-bold';
    margin-top: 117px;
    margin-left: 60px;
}

.container p {
    position: absolute;
    max-width: 316px;
    max-height: 84px;
    margin-top: 165px;
    margin-left: 60px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}










